.container{
    flex: 6;
}
.wrapper{
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img{
    object-fit: cover;
    border-radius: 50%;
}
.imgInput{
    margin-top: 30px ;
    width: 40%;
    color: #1980b5;
    cursor: pointer;
}

.icon{

    margin-left: 10px;
}

.iconContainer{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper>button{
    margin-top: 30px;
    font-size: 18px;
    padding: 7px 15px;
    background-color: rgba(25, 128, 181, 0.4);
    color: #1980b5;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}
.wrapper>button:hover{
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.5);
}
.wrapper>button:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
