.container {
    flex: 2;
    -webkit-box-shadow: 5px 5px 17px 5px rgba(0, 0, 0, 0.66);
    box-shadow: 5px 5px 17px 5px rgba(0, 0, 0, 0.66);
    padding: 20px;
    border-radius: 10px;
}

.widgetLgTitle {
    font-size: 22px;
    font-weight: 600;
}

.widgetLgTable{
    width: 100%;
    border-spacing: 20px;
}

.widgetLgTh{
    text-align: left;
}

.widgetLgUser{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.widgetLgImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.widgetLgDate,.widgetLgAmount{
    font-weight: 300;
}

.widgetLgButton {
    padding: 5px 15px;
    border: none;
    color: white;
    border-radius: 5px;
}

.widgetLgButton.approved{
    background-color: #e5faf2;
    color: #3bb077;
}
.widgetLgButtonDeclined{
    padding: 5px 15px;
    border: none;
    background-color: rgba(255, 0, 0, 0.5);
    color: #8d0000;
    border-radius: 5px;
    font-weight: bold;

}
.widgetLgButton.pending{
    background-color: #ebf1fe;
    color: #2a7ade;

}
