.container{

    position: relative;
    overflow: hidden;
}
.announcement{
    margin-top: 50px;
    width: 100%;
    position: fixed;
}
.video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}
.dimensions{
    display: none;
}
.sliderWrapper {
    width: 600vw;
    height: 100%;
    display: flex;
    white-space:nowrap;
    transition: all 1.5s ease-in-out;
    animation-name: scroll;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
