.container{
   //min-height: calc(90vh - 200px);

    display: flex;


}
.orderContainer{
    width: 100vw;
    display: flex;
}
.sidebar{
    flex: 1;

}
.wrapper{
    flex: 4;
    flex-direction: column;
    width: 100%;
}
.back{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.backArrow{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.terug{
    cursor: pointer;
    margin-left: 15px;
}
.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sub{
    padding: 10px 20px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: indianred;


}
.cardContainer{

    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
@media screen and (max-width: 850px) {
    .back>h1{
        font-size: 20px;
    }
    .backArrow>h1{
        font-size: 20px;
    }
    .terug{
        font-size: 20px;
    }
    .sub{
        padding: 10px 5px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        color: white;
        background-color: indianred;


    }
    .cardContainer{

        padding: 25px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

    }

}
