.container {
    height: 30px;
    width: 80%;
    background-color: rgba(224, 224, 222, 0.5);
    border-radius: 50px;
    margin: 50px;

}

.received {
    height: 100%;
    width: 25%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #2a7ade;
    border-radius: inherit;
    text-align: right;
}
.delivered {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #2a7ade;
    border-radius: inherit;


}
.prepared {
    height: 100%;
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #2a7ade;
    border-radius: inherit;
    text-align: right;
}
.shipped {
    height: 100%;
    width: 75%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #2a7ade;
    border-radius: inherit;
    text-align: right;
}
.cancelled {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: red;
    border-radius: inherit;


}

.title {
    padding-right: 15px;
    color: white;
    font-weight: bold;
}
.img{
    margin-right: 15px;
}
